@import "tailwindcss";

@theme {
  /* override all tailwind colors */
  /* --color-*: initial; */
  
  /* Chakra theme colors as CSS variables */
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000000;
  --color-white: #FFFFFF;
 --color-whiteAlpha-50: rgba(255,255,255, 0.04);
 --color-whiteAlpha-100: rgba(255,255,255,0.06);
 --color-whiteAlpha-200: rgba(255,255,255,0.11);
 --color-whiteAlpha-300: rgba(255,255,255,0.29);
 --color-whiteAlpha-400: rgba(255,255,255,0.42);
 --color-whiteAlpha-500: rgba(255,255,255,0.55);
 --color-whiteAlpha-600: rgba(255,255,255,0.68);
 --color-whiteAlpha-700: rgba(255,255,255,0.76);
 --color-whiteAlpha-800: rgba(255,255,255,0.78);
 --color-whiteAlpha-900: rgba(255,255,255,0.94);
 --color-blackAlpha-50: rgba(0,0,0, 0.04);
 --color-blackAlpha-100: rgba(0,0,0,0.06);
 --color-blackAlpha-200: rgba(0,0,0,0.11);
 --color-blackAlpha-300: rgba(0,0,0,0.29);
 --color-blackAlpha-400: rgba(0,0,0,0.42);
 --color-blackAlpha-500: rgba(0,0,0,0.55);
 --color-blackAlpha-600: rgba(0,0,0,0.68);
 --color-blackAlpha-700: rgba(0,0,0,0.76);
 --color-blackAlpha-800: rgba(0,0,0,0.78);
 --color-blackAlpha-900: rgba(0,0,0,0.94);
 --color-gray-50: #F7F7F7;
 --color-gray-100: #E9E9E9;
 --color-gray-200: #D8D8D8;
 --color-gray-300: #B5B5B5;
 --color-gray-400: #8E8E8E;
 --color-gray-500: #717171;
 --color-gray-600: #535353;
 --color-gray-700: #3B3B3B;
 --color-gray-800: #282828;
 --color-gray-900: #212121;
 --color-red-50: #FFF5F4;
 --color-red-100: #FFE4E2;
 --color-red-200: #FFCCC8;
 --color-red-300: #FF9A94;
 --color-red-400: #F4595A;
 --color-red-500: #D92739;
 --color-red-600: #B30426;
 --color-red-700: #92001F;
 --color-red-800: #730019;
 --color-red-900: #580113;
 --color-orange-50: #FFF6E7;
 --color-orange-100: #FFE6BD;
 --color-orange-200: #FDD291;
 --color-orange-300: #FFA037;
 --color-orange-400: #E26E00;
 --color-orange-500: #BA5200;
 --color-orange-600: #953D00;
 --color-orange-700: #7A2F00;
 --color-orange-800: #612300;
 --color-orange-900: #491901;
 --color-yellow-50: #FDF8D2;
 --color-yellow-100: #FAEC79;
 --color-yellow-200: #F8D904;
 --color-yellow-300: #D7B300;
 --color-yellow-400: #AE8A00;
 --color-yellow-500: #8B6B00;
 --color-yellow-600: #705300;
 --color-yellow-700: #5B4300;
 --color-yellow-800: #483300;
 --color-yellow-900: #362500;
 --color-green-50: #E8FCF5;
 --color-green-100: #BEF6E3;
 --color-green-200: #8BEBD0;
 --color-green-300: #44CBAC;
 --color-green-400: #0EA184;
 --color-green-500: #007F66;
 --color-green-600: #006450;
 --color-green-700: #085040;
 --color-green-800: #0D3E31;
 --color-green-900: #0F2D25;
 --color-teal-50: #E7FBFB;
 --color-teal-100: #BBF4F3;
 --color-teal-200: #8BE9E8;
 --color-teal-300: #3CC8CB;
 --color-teal-400: #019EA5;
 --color-teal-500: #007C85;
 --color-teal-600: #00626B;
 --color-teal-700: #0A4E57;
 --color-teal-800: #103B44;
 --color-teal-900: #102C33;
 --color-blue-50: #F4F7FF;
 --color-blue-100: #E1EAFF;
 --color-blue-200: #C9D8FF;
 --color-blue-300: #9CB3FD;
 --color-blue-400: #6987F9;
 --color-blue-500: #4A65E8;
 --color-blue-600: #344BC3;
 --color-blue-700: #293BA1;
 --color-blue-800: #1F2D7F;
 --color-blue-900: #16215F;
 --color-cyan-50: #EAFAFF;
 --color-cyan-100: #C6F1FF;
 --color-cyan-200: #A0E3FD;
 --color-cyan-300: #5CC0F1;
 --color-cyan-400: #2695DE;
 --color-cyan-500: #0873C8;
 --color-cyan-600: #0059A1;
 --color-cyan-700: #004783;
 --color-cyan-800: #003767;
 --color-cyan-900: #00294D;
 --color-purple-50: #F7F6FF;
 --color-purple-100: #EAE7FF;
 --color-purple-200: #D9D4FF;
 --color-purple-300: #B8A9FF;
 --color-purple-400: #9373FF;
 --color-purple-500: #6E3FFF;
 --color-purple-600: #5319E0;
 --color-purple-700: #4715AF;
 --color-purple-800: #401791;
 --color-purple-900: #2F1469;
 --color-pink-50: #FFF4FE;
 --color-pink-100: #FFE2FB;
 --color-pink-200: #FEC7F8;
 --color-pink-300: #F592F3;
 --color-pink-400: #DE53E0;
 --color-pink-500: #BC29BD;
 --color-pink-600: #9D039E;
 --color-pink-700: #800081;
 --color-pink-800: #640664;
 --color-pink-900: #470E46;
 --color-primary-50: #F7F6FF;
 --color-primary-100: #EAE7FF;
 --color-primary-200: #D9D4FF;
 --color-primary-300: #B8A9FF;
 --color-primary-400: #9373FF;
 --color-primary-500: #6E3FFF;
 --color-primary-600: #5319E0;
 --color-primary-700: #4715AF;
 --color-primary-800: #401791;
 --color-primary-900: #2F1469;
 --color-danger-50: #FFF5F4;
 --color-danger-100: #FFE4E2;
 --color-danger-200: #FFCCC8;
 --color-danger-300: #FF9A94;
 --color-danger-400: #F4595A;
 --color-danger-500: #D92739;
 --color-danger-600: #B30426;
 --color-danger-700: #92001F;
 --color-danger-800: #730019;
 --color-danger-900: #580113;
 --color-warning-50: #FFF6E7;
 --color-warning-100: #FFE6BD;
 --color-warning-200: #FDD291;
 --color-warning-300: #FFA037;
 --color-warning-400: #E26E00;
 --color-warning-500: #BA5200;
 --color-warning-600: #953D00;
 --color-warning-700: #7A2F00;
 --color-warning-800: #612300;
 --color-warning-900: #491901;
 --color-success-50: #E8FCF5;
 --color-success-100: #BEF6E3;
 --color-success-200: #8BEBD0;
 --color-success-300: #44CBAC;
 --color-success-400: #0EA184;
 --color-success-500: #007F66;
 --color-success-600: #006450;
 --color-success-700: #085040;
 --color-success-800: #0D3E31;
 --color-success-900: #0F2D25;
 --color-info-50: #F7F6FF;
 --color-info-100: #EAE7FF;
 --color-info-200: #D9D4FF;
 --color-info-300: #B8A9FF;
 --color-info-400: #9373FF;
 --color-info-500: #6E3FFF;
 --color-info-600: #5319E0;
 --color-info-700: #4715AF;
 --color-info-800: #401791;
 --color-info-900: #2F1469;

}